{% extends 'layout.html' %}

{% block head %}
<title>SIMSAT - CFDI</title>

{% endblock %}

{% block body %}
    <div class="CFDI-container">
        <div class="CFDI-content1">
            <h1 class="CFDI">Tutorial con Simulación para CFDI Versión 4.0</h1>
            <h3 class="CFDI">Aprende a realizar tu comprobante de ingresos y egresos</h3>
            <div class="CFDI-container-icons">
                <div class="CFDI-content">
                    <ul class="list">
                        <li><span class="icon-list"><img src="{{ url_for('static', filename='images/clock.png') }}" alt="declaraciones"></span>30 min.</li>
                    </ul>
                </div>
                <div class="CFDI-content">
                    <ul class="list">
                        <li><span class="icon-list"><img src="{{ url_for('static', filename='images/coin.png') }}" alt="costo"></span>Gratis</li>
                    </ul>
                </div>
            </div>
            <h2 class="CFDI">Requisitos</h2>
            <div class="CFDI-container-requisitos">
                <div class="CFDI-content">
                    <ul class="list2">
                        <li>Contraseña SAT</li>
                        <li>E.firma</li>
                        <li>Monto total ventas mensuales</li>
                    </ul>
                </div>
                <div class="CFDI-content">
                    <ul class="list2">
                        <li>Incomporación en RESICO</li>
                        <li>Venta a Público en General</li>
                    </ul>
                </div>
            </div>
            <h2 class="CFDI">Descripción</h2>
            <p class="CFDI">Un Comprobante Fiscal Digital por Internet (CFDI) es el documento legal que ampara una operación comercial. En el se describe el producto o servicio adquirido, junto con el desglose de los impuestos correspondientes, de acuerdo con las disposiciones fiscales del Servicio de Administración Tributaria (SAT). <br> Este tutorial esta dirigido a microempresarios que no tengan empleados y deseen realizar su contabilidad de manera autónoma, aquí aprenderás a realizar tu CFDI si te encuentras actualmente incorporado en el Régimen Simplificado de Confianza (RESICO), este será dirigido a ventas al público en general, y únicamente se presentara con el Impuesto al valor agregado (IVA).</p>
        </div>
        <div class="CFDI-content2 right">
            <center><img class="view-img" src="{{ url_for('static', filename='images/imgCFDI.png') }}" alt="CFDI"></center>
            <center><button class="css-arrow--green"><a class="refe" href="/CFDI-tutorial">COMENZAR</a></button></center>
        </div>
    </div>
{% endblock %}