{% extends 'layout.html' %}

{% block head %}
<title>SATSIM - Inicio</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="content_left">
            <h1 class="main_title">¿Tú ya sabes como declarar tus impuestos?</h1>
            <h2>!Aquí te enseñamos!</h2>
            <button class="css-button-arrow--green"><a href="">COMENZAR</a></button>
        </div>
        <div class="content_right">
            <img src="{{ url_for('static', filename='images/inicioSAT.png') }}">
        </div>
    </div>

    <div class="container">
        <div class="content_left">
            <h2>¿Cómo te enseñamos?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora aliquam odio officia, numquam at rerum autem eligendi debitis.</p>
            <button class="css-button-arrow--green"><a href="">Ver Tutoriales</a></button>
        </div>
        <div class="content_right">
            <img src="{{ url_for('static', filename='images/inicioTutorial.png') }}">
        </div>
    </div>

    <div class="container">
        <div class="content_left">
            <h2>¿Te sientes confundído?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora aliquam odio officia, numquam at rerum autem eligendi debitis.</p>
            <button class="css-button-arrow--green"><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></button>
        </div>
        <div class="content_right">
            <img src="{{ url_for('static', filename='images/logoSATSIM.png') }}">
        </div>
    </div>

{% endblock %}