{% extends 'layout.html' %}

{% block head %}
<title>SATSIM - Inicio</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="text">
            <h5>¿No sabes como declarar tus impuestos?</h5>
            <h1><span class="gradient-text">Tutoriales</span> dinámicos,
            <br>aprende a<span class="gradient-text"> Declarar</span></h1>

            <p>Realizar tu contabilidad como emprendedor sin 
                la necesidad de tener que pagar un contador mes con mes.</p>
            
            <a class="btn">Comenzar</a>
        </div>

        <div class="main-img">
            <img src="{{ url_for('static', filename='images/banner-img.png') }}">
        </div>
    </div>

    <div class="container">
        <div class="content_left">
            <h2>¿Cómo te enseñamos?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora aliquam odio officia, numquam at rerum autem eligendi debitis.</p>
            <button class="css-button-arrow--green"><a href="">Ver Tutoriales</a></button>
        </div>
        <div class="content_right">
            <img src="{{ url_for('static', filename='images/inicioTutorial.png') }}">
        </div>
    </div>

    <div class="container">
        <div class="content_left">
            <h2>¿Te sientes confundído?</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora aliquam odio officia, numquam at rerum autem eligendi debitis.</p>
            <button class="css-button-arrow--green"><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></button>
        </div>
        <div class="content_right">
            <img src="{{ url_for('static', filename='images/logoSATSIM.png') }}">
        </div>
    </div>

{% endblock %}