{% extends 'layout.html' %}

{% block head %}
<title>SATSIM - Tutorial</title>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="content_left">
            <h1 class="main_title">Tutorial 1</h1>
            <h2>!Aquí te enseñamos como hacer el primer tutorial!</h2>
            <button class="css-button-arrow--green"><a href="">COMENZAR</a></button>
        </div>
        <div class="content_right">
            <img src="">  <!-- Imagen uno orientada a la derecha -->
        </div>
    </div>

    <div class="container">
        <div class="content_right">
            <h1 class="main_title">Tutorial 2</h1>
            <h2>!Aquí te enseñamos como hacer el segundo tutorial!</h2>
            <button class="css-button-arrow--green"><a href="">COMENZAR</a></button>
        </div>
        <div class="content_left">
            <img src="">    <!-- Imagen dos orientada a la izquierda -->
        </div>
    </div>

    <div class="container">
        <div class="content_left">
            <h1 class="main_title">Tutorial 3</h1>
            <h2>!Aquí te enseñamos como hacer el tercer tutorial!</h2>
            <button class="css-button-arrow--green"><a href="">COMENZAR</a></button>
        </div>
        <div class="content_right">
            <img src="">   <!-- Imagen tres orientada a la derecha -->
        </div>
    </div>

{% endblock %}