@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #fff;
    overflow-x: hidden;
}

*,
html {
    --primaryGradient: linear-gradient(93.12deg, #052573 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #052573 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #052573;
}

/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: none;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.chat {
    width: 60px;
}

/* CONTENT ISOPEN */
.chatbox--active {
    display: flex;
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    background-color: #F1F1F1;;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}


/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
    font-size: 15px;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* -------NAVBAR------------------------------------------------------------------------------------------ */
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 40px;
    width: auto;
    transition: all 1.3s;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a {
    font-weight: 400;
    color: #6b6b6b;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #052573;
}

.header .btn button {
    margin-left: 3px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    padding: 9px 25px;
    background: linear-gradient(315deg, #9C1DE7  0.52%,  #052573 74%);;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.header .btn button:hover {
    background: none;
    border: 1px solid #9C1DE7;
    color: #052573;
    transform: scale(1.1);
}

/* -------BANNER------------------------------------------------------------------------------------------ */

.main {
    margin: auto 6%;
    padding: 0;
    box-sizing: border-box;
    /*font-size: ;*/
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 89vh;
    /*IMAGEN DE FONDO*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.text {
    margin-right: 35px;
    padding-bottom: 6%;
}

.text h5 {
    color: #052573;
    font-size: 1.25rem;
    font-weight: 600;
}

.text h1 {
    font-size: 3.80rem;
    font-weight: 700;
    color: black;
    line-height: 1.2;
    margin: 15px 0;
}

.gradient-text {
    background: linear-gradient(315deg, #9C1DE7  0.52%,  #052573 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text p {
    font-size: 15px;
    color: #6b6b6b;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 2.25rem;
}

.text a {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 12px 30px;
    border-radius: 10px;
    background: linear-gradient(315deg, #9C1DE7  0.52%,  #052573 74%);
    transition: all .42s;
    text-decoration: none;
}


.main-img  {
    position: relative;
    width: 100px;
    height: auto;
    margin-left: 5%;
    padding-bottom: 5%;
}

.main-img img{
    max-width: 800px;
    width: 450px;
    height: auto;
    animation-name: slide;
    animation-duration: 4s;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.text a:hover {
    background: none;
    border: 2px solid #9C1DE7;
    color: #052573;
    transform: scale(1.1);
}

@keyframes slide {
    0% {
        transform: translateY(0px);
    } 
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* COMO TE ENSEÑAMOS */
/* ---- Contenido ----*/
.Como-container {
    width: 100%;
  
    justify-content: center;
    text-align: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.Como-container1 {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.Como-container1  h1 {
    font-size: 4.90rem;
    font-weight: 700;
    color: black;
    line-height: 1.2;
    margin-bottom: 20px;
}

.Como-container1  p {
    font-size: 16px;
    color: #6b6b6b;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 2.25rem;
    padding-bottom: 20px;
}

.Como-container1 a {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 12px 30px;
    border-radius: 10px;
    background: linear-gradient(315deg, #9C1DE7  0.52%,  #052573 74%);
    transition: all .42s;
    text-decoration: none;
    margin-left: 25px;
    width: 210px;
}

.Como-container1 a:hover {
    background: none;
    border: 2px solid #9C1DE7;
    color: #052573;
    transform: scale(1.1);
}


.questionGif {
    width: 100%;
    height: 92vh;
}

/* PREGUNTAS FRECUENTES */
.chatbot-main-img {
    position: relative;
    width: 100px;
    height: auto;
    padding-top: 20px;
}

.chatbot-main-img  img{
    max-width: 400px;
    width: 450px;
    height: auto;
    animation-name: slide;
    animation-duration: 4s;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.preguntas-text h5 {
    color: #052573;
    font-size: 1.25rem;
    font-weight: 600;
}

.preguntas-text h1 {
    font-size: 3.80rem;
    font-weight: 700;
    color: black;
    line-height: 1.2;
    margin:  0;
    margin-bottom: 25px;
}

.preguntas-text p {
    font-size: 15px;
    color: #6b6b6b;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 2.25rem;
}

.preguntas-text a {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 12px 30px;
    border-radius: 10px;
    background: linear-gradient(315deg, #9C1DE7  0.52%,  #052573 74%);
    transition: all .42s;
    text-decoration: none;
    margin-top: 2.25rem;
}

.preguntas-text a:hover {
    background: none;
    border: 2px solid #9C1DE7;
    color: #052573;
    transform: scale(1.1);
}
.preguntas-container {
    height: 85vh;
    margin: 0;
    padding: 0;
    /*font-family: Verdana, Geneva, sans-serif;*/
    box-sizing: border-box;
}

.preguntas-container {
    margin: auto 5%;
    display: flex;
}

/* Dos columnas principales*/
.preguntas-content1 {
    width: 47%;
    margin: auto; 
}

.preguntas-text {
    width: 53%;
    margin: auto;
}

/* PIE DE PAGINA */
footer{
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,37,115,1) 35%, rgba(156,29,231,1) 100%);
    opacity: .9;
    margin-top: 40px;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link{
    height: 100%;
    width: 30px;
    background-image: url('/static/images/FacebookBlanco.png');
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url('/static/images/LinkedinBlanco.png');
}

footer .social-link:nth-of-type(3){/*Nth of type inside that container*/
    background-image: url('/static/images/InstagramBlanco.png');
}

.footer-img {
    width: 50%;
    padding-bottom: 10px;
    margin-left: -3px;
}

.footer-container span {
    font-weight: 500;
}

/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}

/* -------TUTORIAL CFDI PORTADA CURSO------------------------------------------------------------------------------------------ */
.CFDI-container {
    margin: 0;
    padding: 0;
    /*font-family: Verdana, Geneva, sans-serif;*/
    box-sizing: border-box;
    height: 90vh;
}

/* ---- Letras ----*/
h1.CFDI {
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 35.4px;
    padding-bottom: .8rem;
    letter-spacing: 1px;
}

h3.CFDI {
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 32.4px;
    padding-right: 5rem;
    padding-bottom: 4%;
}

p.CFDI {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    padding-right: 3rem;
}

h2.CFDI {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 32.4px;
    padding-bottom: 3%;
}

/* ---- Contenido ----*/
.CFDI-container {
    margin: 2% 5%;
    display: flex;
}

/* Dos columnas principales*/
.CFDI-content1 {
    width: 55%;
    margin: 0 auto;
    padding-left: 3%;
}

.CFDI-content2 {
    width: 45%;
    margin: 0 auto;
}

/* Demas columnas */
.CFDI-content {
    width: 50%;
    margin: 0 auto;
}


/* ---- Div izquierda ----*/
/* Requisitos */
.CFDI-container-requisitos {
    margin: 0% 0% 3% 4%;
    display: flex;
}

/* Duración y precio */
.CFDI-container-icons {
    margin: 0%;
    display: flex;
    padding: 2%;
    margin-right: 3rem;
    box-shadow: 0 0 0 4px  #fff, 0 6px 2px #ccc, 0 -6px 2px #ccc;
    margin-bottom: 4%;
}

.list {
    list-style: none;
    font-size: 20px;
}

.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
}

.icon-list {
    width: 42px;
    height: 42px;
    margin-right: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;

}

/* ---- Div derecha ----*/
.right {
    margin: 0 auto;
}

.view-img {
    width: 75%;
    padding-bottom: 7%;
}


.refe {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2.5px;
}

.css-arrow--green {
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    height: 3.8rem;
    width: 73.5%;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 7px;
    border: none;
    box-shadow: 0 3px 1px -6px #ccc, 0 2px 2px 0 #ccc, 0 4px 6px 0 #ccc;
    background-color: #4CAF50;
}

.css-arrow--green:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.css-arrow--green:hover:after {
    opacity: 1;
    right: 10px;
}

.css-arrow--green:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 40px;
    line-height: 40px;
    top: 6.9px;
    right: -15px;
    transition: 0.4s;
}

/* -------TUTORIAL CFDI----------------------------------------------------------------------------------- */
.body-tutorial {
    background-color: rgb(243, 243, 244);
    overflow: hidden;
}

/* BUTTON HOME*/
.img-arrow {
    width: 40px;
    opacity: .550
}

.arrow__button {
    position: fixed;
    top: 35px;
    right: 40px;
}

/*TUTORIAL*/
.name-course {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 32.4px;
    margin-left: 30px;
    color: gray;
}

/*Instructions part*/
.tutorial_text_header {
    height: 60px;
    width: 80%;
    background-color: #581B98;
    position: relative;
    padding: 0 15px 0 15px;
    border-bottom: 4px solid rgb(243, 243, 244);
    margin: auto;
    display: flex;
}

.tutorial_text {
    color: white;
    text-align: center;
    margin: auto;
}


.tuto-window {
    background-color: rgb(243, 243, 244);
    width: 300px;
    margin: auto;
    width: 80%;
    height: 530px;
    overflow: scroll;
    overflow-x: hidden;
}

.captura {
    width: 100%;
    height: 100%;
    display: block;
}

.capturaCorta {
    width: 100%;
    height: 65%;
    display: block;
}


/* -------BOTONES TUTORIAL CFDI ------------------------------------------------------------------------------------------ */
.inicioBoton {
    background: none;
    width: 40px;
}

.atras {
    position: fixed;
    bottom: 30px;
    left: 30px;
    border: none;
    background: none;
    background-image: url('/static/images/atras.png');
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* POSICION 0 */
.pos0Factura {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    bottom: 454px;
    left: 277px;
    width: 55px;
    height: 65px;
}

/* POSICION 1 */
.pos1Servicios {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 740px;
    height: 30px;
    bottom: 507px;
    left: 150px;
}

/* POSICION 2 */
.pos2Servicio {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 740px;
    height: 30px;
    bottom: 327px;
    left: 155px;
}

/* POSICION 3 */
.pos3Ejecutar {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 170px;
    height: 39px;
    bottom: 70px;
    left: 503px;
}

/* POSICION 4 */
.pos4RFC {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 350px;
    height: 28px;
    bottom: 851px;
    left: 295px;
    padding-left: 6px;
}

.pos4RFC:focus {
    outline: none;
}

.pos4RFC:valid {
    background-color: #fff;
}

.pos4Password {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 350px;
    height: 28px;
    bottom: 807px;
    left: -60px;
    padding-left: 6px;
}

.pos4Password:focus {
    outline: none;
}


.pos4Password:valid {
    background-color: #fff;
}

.pos4Captcha {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 350px;
    height: 28px;
    bottom: 655px;
    left: -415px;
    padding-left: 6px;
}

.pos4Captcha:focus {
    outline: none;
}

.pos4Captcha:valid {
    background-color: #fff;
}

.pos4Enviar {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 100px;
    height: 41px;
    bottom: 641px;
    left: 588px;
}

/* POSICION 5 */
.pos5Engrane {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    bottom: 500px;
    left: 960px;
}

/* POSICION 6 */
.pos6Config {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 290px;
    height: 35px;
    bottom: 425px;
    left: 719px;
}

/* POSICION 7 */
.pos7RFC {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 280px;
    height: 28px;
    bottom: 647px;
    left: 100px;
    text-align: center;
}

.pos7RFC:focus {
    outline: none;
}

.pos7Nombre {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 580px;
    height: 28px;
    bottom: 647px;
    left: 112px;
    text-align: center;
}

.pos7Nombre:focus {
    outline: none;
}

.pos7Comercial {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 874px;
    height: 28px;
    bottom: 627px;
    left: 101px;
    text-align: center;
}

.pos7Comercial:focus {
    outline: none;
}

.pos7Guardar {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 82px;
    height: 39px;
    bottom: 222px;
    left: 38px;
}

/* Validación de registro de emisor */
.validEngrane {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    bottom: 850px;
    left: 960px;
}

.validRFC {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 280px;
    height: 28px;
    bottom: 691px;
    left: 100px;
    text-align: center;
}

.validRFC:focus {
    outline: none;
}

.validNombre {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 580px;
    height: 28px;
    bottom: 691px;
    left: 112px;
    text-align: center;
}

.validNombre:focus {
    outline: none;
}

/* POSICION 8 */
.pos8RFC {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 283px;
    height: 28px;
    bottom: 686px;
    left: 100px;
    text-align: center;
}

.pos8RFC:focus {
    outline: none;
}

.pos8Nombre {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 579px;
    height: 28px;
    bottom: 686px;
    left: 110px;
    text-align: center;
}

.pos8Nombre:focus {
    outline: none;
}

.pos8Basica {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 290px;
    height: 35px;
    bottom: 817px;
    left: 720px;
}

/* CAPTURA CORTA */
.capturaCortaProducto {
    width: 100%;
    height: 45%;
    display: block;
}


/* POSICION 9 */
.pos9Selec {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 35px;
    bottom: 1445px;
    left: 100px;
}

/* POSICION 10 */
.pos10Regimen {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 25px;
    bottom: 1400px;
    left: 100px;
}

/* POSICION 11 */
.pos11Fav {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 35px;
    bottom: 1452px;
    left: 590px;
}

/* POSICION 12 */
.pos12Selec {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 35px;
    bottom: 1305px;
    left: 100px;
}

/* POSICION 13 */
.pos13Ingreso {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 25px;
    bottom: 1265px;
    left: 102px;
}

/* POSICION 14 */
.pos14Fav {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 35px;
    bottom: 1310px;
    left: 591px;
}

/* POSICION 15*/
.pos15Selec {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 35px;
    bottom: 1183px;
    left: 101px;
}

/* POSICION 16 */
.pos16Codigo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 25px;
    bottom: 1143px;
    left: 102px;
}

/* POSICION 17 */
.pos17Fav {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 35px;
    bottom: 1187px;
    left: 591px;
}

/* POSICION 18*/
.pos18Selec {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 35px;
    bottom: 1068px;
    left: 101px;
}

/* POSICION 19 */
.pos19Peso {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 467px;
    height: 25px;
    bottom: 1025px;
    left: 105px;
}

/* CAPTURA CORTA2 */
.capturaCorta2 {
    width: 100%;
    height: 75%;
    display: block;
}

/* POSICION 20 */
.pos20Fav {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 35px;
    bottom: 1071px;
    left: 591px;
}

/* POSICION 21*/
.pos21Selec {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 35px;
    bottom: 935px;
    left: 101px;
}

/* POSICION 22 */
.pos22Efectivo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 380px;
    height: 25px;
    bottom: 895px;
    left: 105px;
}

/* POSICION 23 */
.pos23Fav {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 35px;
    bottom: 940px;
    left: 591px;
}

/* POSICION 24*/
.pos24Selec {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 390px;
    height: 35px;
    bottom: 818px;
    left: 101px;
}

/* POSICION 25 */
.pos25Pago {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 380px;
    height: 25px;
    bottom: 783px;
    left: 105px;
}

/* POSICION 26 */
.pos26Fav {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 35px;
    bottom: 824px;
    left: 591px;
}

/* CAPTURA CORTA3 */
.capturaCorta3 {
    width: 100%;
    height: 80%;
    display: block;
}

/* CAPTURA CORTA PRODUCTO 2 */
.capturaCortaProducto2 {
    width: 100%;
    height: 35%;
    display: block;
}

/* POSICION 27 */
.pos27Engrane {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    bottom: 1642px;
    left: 960px;
}

/* POSICION 28 */
.pos28Avanzada {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 290px;
    height: 35px;
    bottom: 1587px;
    left: 720px;
}

/* POSICION 29 */
.pos29Check {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    bottom: 1165px;
    left: 450px;
}

/* POSICION 29 */
.pos30Check {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    bottom: 908px;
    left: 450px;
}

/* POSICION 31 */
.pos31Guardar {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 90px;
    height: 40px;
    bottom: 62px;
    left: 75px;
}

/* POSICION 32 */
.pos32Generar {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 90px;
    height: 40px;
    bottom: 1378px;
    left: 870px;
}

/* Capturas en Grises*/
#capturaGris {
    filter: brightness(48.5%);
}

#capturaGrisCorta {
    filter: brightness(48.5%);
}

/* POSICION 33 */
.pos33Nueva {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    width: 265px;
    height: 25px;
    bottom: 1339px;
    left: 703px;
}

/* Large screens ---------------------------------------------------------------------------------*/
@media only screen and (min-width : 1920px) {
    .tuto-window {
        height: 900px;
        width: 90%;
    }

    .tutorial_text_header {
        height: 75px;
        width: 90%;
        margin-top: 20px;
    }     

    /* Boton Home */
    .arrow__button {
        top: 52px;
        right: 27px;
    }

    .inicioBoton {
        background: none;
        width: 40px;
    }
    
     /* Boton Atras */
    .atras {
        bottom: 30px;
        left: 30px;
        border: none;
        width: 50px;
        height: 50px;
    }
    
    /* POSICION 0 */
    .pos0Factura {
        border: none;
        bottom: 768px;
        left: 470px;
        width: 60px;
        height: 75px;
    }
    
    /* POSICION 1 */
    .pos1Servicios {
        border: 5px solid black;
        width: 1215px;
        height: 40px;
        bottom: 852px;
        left: 250px;
    }
    
    /* POSICION 2 */
    .pos2Servicio {
        border: 5px solid black;
        width: 500px;
        height: 30px;
        bottom: 550px;
        left: 260px;
    }
    
    /* POSICION 3 */
    .pos3Ejecutar {
        border: 5px solid black;
        width: 242px;
        height: 42px;
        bottom: 110px;
        left: 820px;
    }
    
    /* POSICION 4 */
    .pos4RFC {
        
        width: 610px;
        height: 40px;
        bottom: 1440px;
        left: 470px;
        padding-left: 6px;
    }
    
    .pos4Password {
        
        width: 610px;
        height: 40px;
        bottom: 1368px;
        left: -145px;
        padding-left: 6px;
    }
    
    .pos4Captcha {
        
        width: 610px;
        height: 40px;
        bottom: 1185px;
        left: 470px;
        padding-left: 6px;
    }
    
    .pos4Enviar {
        
        width: 130px;
        height: 60px;
        bottom: 1080px;
        left: 330px;
    }
    
    /* POSICION 5 */
    .pos5Engrane {
        
        width: 40px;
        height: 40px;
        bottom: 840px;
        left: 1545px;
    }
    
    /* POSICION 6 */
    .pos6Config {
       
        width: 420px;
        height: 35px;
        bottom: 710px;
        left: 1160px;
    }
    
    /* POSICION 7 */
    .pos7RFC {
        
        width: 400px;
        height: 35px;
        bottom: 1110px;
        left: 180px;
    }
    
    .pos7Nombre {
       
        width: 400px;
        height: 35px;
        bottom: 1110px;
        left: 450px;
    }
    
    .pos7Comercial {
        
        width: 800px;
        height: 40px;
        bottom: 990px;
        left: -300px;
    }
    
    .pos7Guardar {
        
        width: 96px;
        height: 39px;
        bottom: 317px;
        left: -138px;
    }
    
    /* Validación de registro de emisor */
    .validEngrane {
       border: 5px solid black;
        width: 40px;
        height: 40px;
        bottom: 850px;
        left: 960px;
    }
    
    .validRFC {
        border: 5px solid black;
        width: 280px;
        height: 28px;
        bottom: 691px;
        left: 100px;
    }
    
    .validNombre {
        border: 5px solid black;
        width: 580px;
        height: 28px;
        bottom: 691px;
        left: 112px;
    }

    /* POSICION 8 */
    .pos8RFC {
   
       width: 400px;
       height: 35px;
       bottom: 1135px;
       left: 180px;
    }
    
    .pos8Nombre {
        
        width: 600px;
        height: 35px;
        bottom: 1135px;
        left: 405px;
    }
    
    .pos8Basica {
        
        width: 420px;
        height: 35px;
        bottom: 1375px;
        left: 1160px;
    }
    
    /* CAPTURA CORTA  ***EDITAR SI EL TAMAÑO NO CORRESPONDE***
    .capturaCortaProducto {
        width: 100%;
        height: 45%;
        display: block;
    }*/
    
    
    /* POSICION 9 */
    .pos9Selec {
        border: 5px solid black;
        width: 580px;
        height: 35px;
        bottom: 2440px;
        left: 180px;
    }
    
    /* POSICION 10 */
    .pos10Regimen {
        border: 5px solid black;
        width: 580px;
        height: 25px;
        bottom: 2370px;
        left: 180px;
    }
    
    /* POSICION 11 */
    .pos11Fav {
        border: 5px solid black;
        width: 40px;
        height: 35px;
        bottom: 2450px;
        left: 955px;
    }
    
    /* POSICION 12 */
    .pos12Selec {
        border: 5px solid black;
        width: 588px;
        height: 35px;
        bottom: 2208px;
        left: 180px;
    }
    
    /* POSICION 13 */
    .pos13Ingreso {
        border: 5px solid black;
        width: 580px;
        height: 25px;
        bottom: 2135px;
        left: 180px;
    }
    
    /* POSICION 14 */
    .pos14Fav {
        border: 5px solid black;
        width: 40px;
        height: 35px;
        bottom: 2210px;
        left: 955px;
    }
    
    /* POSICION 15*/
    .pos15Selec {
        border: 5px solid black;
        width: 588px;
        height: 35px;
        bottom: 1995px;
        left: 180px;
    }
    
    /* POSICION 16 */
    .pos16Codigo {
        
        width: 580px;
        height: 25px;
        bottom: 1930px;
        left: 180px;
    }
    
    /* POSICION 17 */
    .pos17Fav {
        border: 5px solid black;
        width: 40px;
        height: 35px;
        bottom: 1997px;
        left: 955px;
    }
    
    /* POSICION 18*/
    .pos18Selec {
        border: 5px solid black;
        width: 588px;
        height: 35px;
        bottom: 1800px;
        left: 180px;
    }
    
    /* POSICION 19 */
    .pos19Peso {
        border: 5px solid black;
        width: 580px;
        height: 25px;
        bottom: 1735px;
        left: 180px;
    }
    
    /* CAPTURA CORTA2       ***EDITAR SI EL TAMAÑO NO CORRESPONDE***
    .capturaCorta2 {
        width: 100%;
        height: 75%;
        display: block;
    }*/
    
    /* POSICION 20 */
    .pos20Fav {
        border: 5px solid black;
        width: 40px;
        height: 35px;
        bottom: 1805px;
        left: 955px;
    }
    
    /* POSICION 21*/
    .pos21Selec {
        border: 5px solid black;
        width: 588px;
        height: 35px;
        bottom: 1578px;
        left: 180px;
    }
    
    /* POSICION 22 */
    .pos22Efectivo {
        border: 5px solid black;
        width: 580px;
        height: 25px;
        bottom: 1513px;
        left: 170px;
    }
    
    /* POSICION 23 */
    .pos23Fav {
        border: 5px solid black;
        width: 40px;
        height: 35px;
        bottom: 1578px;
        left: 955px;
    }
    
    /* POSICION 24*/
    .pos24Selec {
        border: 5px solid black;
        width: 588px;
        height: 35px;
        bottom: 1378px;
        left: 180px;
    }
    
    /* POSICION 25 */
    .pos25Pago {
        border: 5px solid black;
        width: 580px;
        height: 25px;
        bottom: 1320px;
        left: 170px;
    }
    
    /* POSICION 26 */
    .pos26Fav {
        border: 5px solid black;
        width: 40px;
        height: 35px;
        bottom: 1380px;
        left: 955px;
    }
    
    /*      ***EDITAR EN CASO DE QUE LAS IMAGENES NO QUEDEN BIEN EN PORCENTAJE***
    /* CAPTURA CORTA3 
    .capturaCorta3 {
        width: 100%;
        height: 80%;
        display: block;
    }
    
    /* CAPTURA CORTA PRODUCTO 2 
    .capturaCortaProducto2 {
        width: 100%;
        height: 35%;
        display: block;
    }*/
    
    /* POSICION 27 */
    .pos27Engrane {
        border: 5px solid black;
        width: 40px;
        height: 40px;
        bottom: 2770px;
        left: 1545px;
    }
    
    /* POSICION 28 */
    .pos28Avanzada {
        border: 5px solid black;
        width: 420px;
        height: 35px;
        bottom: 2680px;
        left: 1160px;
    }
    
    /* POSICION 29 */
    .pos29Check {
        border: 5px solid black;
        width: 30px;
        height: 30px;
        bottom: 1968px;
        left: 725px;
    }
    
    /* POSICION 29 */
    .pos30Check {
        border: 5px solid black;
        width: 30px;
        height: 30px;
        bottom: 1528px;
        left: 725px;
    }
    
    /* POSICION 31 */
    .pos31Guardar {
        border: 5px solid black;
        width: 115px;
        height: 50px;
        bottom: 95px;
        left: 135px;
    }
    
    /* POSICION 32 */
    .pos32Generar {
        border: 5px solid black;
        width: 110px;
        height: 40px;
        bottom: 2325px;
        left: 1410px;
    }

    /* POSICION 33 */
    .pos33Nueva {
        border: 5px solid black;
        width: 265px;
        height: 25px;
        bottom: 2265px;
        left: 1150px;
    }

    
}
